.container-big-card{
   display: grid;
   grid-template-rows: 60% 10% 30%;
   padding: 10px;
   margin: 10px;
   height: 1fr;
   border: solid 2px white;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   list-style-type: none;
}

.img{
 height: 150px;
 width: 300px;
 display: block; margin-left: auto; margin-right: auto
}