
<app-title-homer></app-title-homer>
<div class="container-father">
    <div class="container-left">
       <app-big-card-homer id="1" photoCover="/assets/casaDoDragao.jpeg" title="Casa do dragão" description="Os apoiadores de Aegon Targaryen entram em conflito com os adeptos de sua meia-irmã, Rhaenyra, pelo trono de Viserys I, seu falecido pai, iniciando uma guerra civil cerca de 200 anos antes dos eventos retratados em Game of Thrones"></app-big-card-homer>
    </div>
    <div class="container-right">
        <app-small-card-homer id="2" photoSmall="/assets/brid.jpeg" titleSmall="Oito irmãos inseparáveis buscam amor e felicidade na alta sociedade de Londres."></app-small-card-homer>
        <app-small-card-homer id="3" photoSmall="/assets/GameOf.jpg" titleSmall="Qual é a história do Game of Thrones?
        A história gira em torno de uma batalha entre os Sete Reinos"></app-small-card-homer>
        <app-small-card-homer id="4" photoSmall="/assets/outlander.jpeg" titleSmall="Outlander é uma série de televisão de drama e romance"></app-small-card-homer>
    </div>

</div>

